<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homeStyle.css">

    <title><%= title %></title>
</head>
<body>
    <div class="loginHome">
    <div class="wrapper">
        <div class="title-text">
           <div class="title login">
             Admin Login 
           </div>
           <div class="title signup">
             Admin Signup 
           </div>
        </div>
        <div class="form-container">
           <div class="slide-controls">
              <input type="radio" name="slide" id="login" checked>
              <input type="radio" name="slide" id="signup">
              <label for="login" class="slide login">Login</label>
              <label for="signup" class="slide signup">Signup</label>
              <div class="slider-tab"></div>
           </div>
           <div class="form-inner">
           
              <form action="/alogin" class="login" method="post">
                
               <% if(msg !=''){ %>
                  <div id="signupalert"  class="alert alert-danger">
                     <p style="text-align: center;color:red;"><%= msg %></p>
                  </div>
                      <% } %>

                      <% if(succ !=''){%>
                        <p style="text-align: center;color:green;"><%= succ %></p>
                          <% } %>
                 <div class="field">
                    <input type="email" placeholder="Email Address" name="email" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                 </div>
                 
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Login">
                 </div>
                 <div class="" style="margin-top: 20px;">
                    Go to ? <a href="/" >Home</a>
                 </div>
              </form>


              <form action="/asignup" class="signup" method="post">
              
                <div class="field">
                    <input type="text" placeholder="Full Name" name="name" required>
                 </div>
                 <div class="field">
                    <input type="email" placeholder="Email Address" name="email" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                 </div>
                 <div class="field">
                    <input type="password" placeholder="Confirm password" name="confirmpassword" required>
                 </div>
                 <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Signup">
                 </div>
              </form>

           </div>
        </div>
     </div>
    </div>
     <script>
        
// <!-- -------------------------------l0gin-------------------------------- -->
const loginText = document.querySelector(".title-text .login");
         const loginForm = document.querySelector("form.login");
         const loginBtn = document.querySelector("label.login");
         const signupBtn = document.querySelector("label.signup");
         const signupLink = document.querySelector("form .signup-link a");
         signupBtn.onclick = (()=>{
           loginForm.style.marginLeft = "-50%";
           loginText.style.marginLeft = "-50%";
         });
         loginBtn.onclick = (()=>{
           loginForm.style.marginLeft = "0%";
           loginText.style.marginLeft = "0%";
         });
         signupLink.onclick = (()=>{
           signupBtn.click();
           return false;
         });
// <!-- -------------------------------l0gin------end-------------------------- -->
     </script>
</body>
</html>