<li class="nav-link">
                    <a href="#account" onclick="account()">
                        <i class='bx bx-bell icon'></i>
                        <span class="text nav-text">Account</span>
                    </a>
                </li>



   <div id="payment" class="collpase">
          <div class="container">
            <div class="row">
                <h1>Product Lists</h1>
                <br>
             <table class="table table-striped table-primary">
              <thead>
                <tr>

                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Action</th>
                </tr>
              </thead>
              <tbody>
               <% if(pydata.length >0){
                pydata.forEach(function(row){
                %>
                <% if(row.user == loginUser){ %>
                <tr>
                  
                    <td> <%= row.cname %></td>
                    <td> $<%= row.price %></td>
                    
                    <td>
                      <a class="btn btn-primary" href="/invoice">View</a>
                    </td>
                    
                </tr>
                <% } }) } %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
           
           
           
            <div id="account" class="collpase">
           <div class="profileCon" style="margin: 86px; width: max-content;">
           <div class="profileCon">
              <div class="profileCard">
                <br>
                <% if(users) { %>
                <div><p><span style="font-size: 20px;"><b>Name : <%= users.name %></b></span></p></div>
                <div>
                  <p><span style="font-size: 20px;"><b>Email : <%= users.email %></b></span></p>
                </div>
                <button><a href="/logout" style="color: white;">SignOut</a></button>
                <% } %>
              </div>
           </div>

        </div>
        </div>
