<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .reminderBody{
        display: flex;
    justify-content: center;
    }
       
       .remaiderContainer{
    width: 50%;
    padding-top: 40px;
    box-shadow: 0 39px 26px 0 rgb(228 192 217);
    margin-left: 100px;
}
.remainderCard{
    text-align: center;
    padding: 44px;
}
.reminderBtn{
    font-size: 20px;
    padding: 10px;
}
    </style>
</head>
<body>
   <div class="reminderBody">

       <div class="remaiderContainer">
           <div class="remainderCard">
               <h3 style="padding: 20px;">Your Product is about to run out of stock </h3>
               <p style="color:red"><span style="font-size: 30px; ">*</span>Please Add your Product </p>
               <div><Button class="reminderBtn"> <a href="/supIndex">Reminder </a></Button></div>
           </div>
       </div>
   </div>
</body>
</html>